<!DOCTYPE html>
<html>
  <head>
    <%# con este metodo ( yield(:titulo) podemos hacer que el titulo se vean en las otras vistas, en las otras vistes se pondra el metodo (provide) %>
    <title> <%= yield(:titulo) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# esto es lo que se esta mostrando en el archivo _header.html.erb%>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
